extends layout

block content
	h1 = title

	form(method='post', action='/cats', id="newform")
		| New cat's name:
		input(type='text', name='name')
		| New cat's age:
		input(type='text', name='age')
		|New cat's colors:
		input(type='text', name='cols')
		input(type='submit', value='Create cat')